div{
    background-color: dodgerblue;
    padding-top: 20px;
    margin-bottom: 10px;
}

.list{
    background-color: cadetblue;
}

.shopping{
    color: firebrick;
    background-color: aqua;
    font-size: larger;
    font-weight: 200px;
    font-family: cursive;
}